<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/styles.css">

    <!-- Prism.js for code formatting-->
    <link rel="stylesheet" href="/css/prism.css">
    <script src="/js/prism.js"></script>

    <title>OAuth 2.0 - AuthZ Code Flow with PKCE</title>
</head>

<body>
    <div class="container" style="margin-top:50px">
        <div class="jumbotron">
            <h2 class="display-4">
                OAuth 2.0 - AuthZ Code Flow with PKCE
            </h2>
            <p class="lead">You need a backend to perform this flow. Use PKCE to enhance the security against interception attacks.</p>
        </div>